* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.site {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.space {
  height: 25px;
}

:root {
  --cor-primaria: #E9BF5B;
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #000000;
  --cor-quaternaria: #DCDCDC;
}

.titulo_principal_carro{
margin-top: 14px;
display: flex;
justify-content: space-around;
align-items: center;


.km_rodado{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    margin-right: 10px;
  }
}
}

.linha_branca{
  margin: 5px 15px 0 15px;
  height: 3px;
  border-radius: 12px;
  background-color: white;

}
.info_complementares{
  display: flex;
  justify-content: space-around;
.ano_carro{
  width: 50px;
  height: 30px;
  background-color: #000000;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  p{
    color: white;
  }
}
}




.banner_home {
  background: url(../img/Banner\ home.png);
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;


  header {
    width: 100%;


    .site {
      padding: 18px;

      nav {
        display: flex;

        justify-content: space-between;
        align-items: center;

        ul {
          display: flex;
          width: 100%;
          justify-content: space-around;

          li {
            a {
              color: var(--cor-secundaria);
              font-weight: bold;
              font-size: 16px;
            }
          }
        }
      }

    }
  }

  .encontre_carro {

    .site {
      .texto {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 55px;

        h2 {
          color: var(--cor-secundaria);
          font-size: 50px;
          margin-top: 40px;
          margin-bottom: 40px;
          font-weight: bold;

          span {
            color: var(--cor-primaria);
            margin-left: 7px;
          }
        }

        .forms_procurar_carro {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90px;
          width: 65%;
          background-color: white;
          margin-top: 25px;
          border-radius: 15px;
          box-shadow: 0px 7px 4px 0px rgba(164, 164, 164, 0.7);

          form {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            height: 77px;
            align-items: center;

            select {
              border: 1px solid #E1E1E1;
              border-radius: 10px;
              width: 180px;
              height: 50px;
              padding: 7px;
              appearance: none;
              /* remove seta padrão */
              -webkit-appearance: none;
              -moz-appearance: none;
              background-color: white;
              background-image: url('../img/seta_baixo.svg');
              background-repeat: no-repeat;
              background-position: right 12px center;
              /* posição da seta */
              background-size: 14px;
              cursor: pointer;
              font-weight: bold;
            }

            .pesquisar {

              button {
                height: 50px;
                width: 50px;
                border-radius: 12px;
                background-color: var(--cor-primaria);
                cursor: pointer;
                border: none;
              }
            }
          }

        }

        .marcas {
          width: 80%;
          margin-top: 60px;
          display: flex;
          justify-content: space-between;

          .marca {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-color: transparent;
            border: 2px solid #E9BF5B;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

    }
  }
}

.carros_venda_home {
  .carro_destaque {
    height: 500px;
    width: 521px;
    background-color: var(--cor-primaria);
    border-radius: 7px;
   margin-bottom: 54px;

    .conteudo {
      background-color: var(--cor-primaria);
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
    }

  }
}