* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.site {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --cor-primaria: #E9BF5B;
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #000000;
  --cor-quaternaria: #DCDCDC;
}





.banner_home {
  background: url(../img/Banner\ home.png);
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;


  header {
    width: 100%;


    .site {
      padding: 18px;

      nav {
        display: flex;

        justify-content: space-between;
        align-items: center;

        ul {
          display: flex;
          width: 100%;
          justify-content: space-around;

          li {
            a {
              color: var(--cor-secundaria);
              font-weight: bold;
              font-size: 16px;
            }
          }
        }
      }

    }
  }

  .encontre_carro {
    .site {
      .texto {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          color: var(--cor-secundaria);
         
          span {
            color: var(--cor-primaria);
             margin-left: 7px;
          }
        }
      }
    }
  }
}