@font-face {
  font-family: 'TTLakesNeue';
  src: url('../fontes/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body,
h2 {
  font-family: 'TTLakesNeue', sans-serif !important;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.site {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.space {
  height: 25px;
}

:root {
  --cor-primaria: #E9BF5B;
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #000000;
  --cor-quaternaria: #DCDCDC;
}

.lado_a_lado {
  display: flex;
  gap: 75px;
  align-items: center;
}

.lado_a_lado_carros_venda_men {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.titulo_principal_carro {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;


  .km_rodado {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
}

.linha_branca {
  margin: 5px 15px 0 15px;
  height: 3px;
  border-radius: 12px;
  background-color: white;

}

.info_veiculo_vendas {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
  font-weight: bolder;

}

.info_complementares {
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  .ano_carro,
  .carro_preco {
    width: 50px;
    height: 30px;
    background-color: #000000;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    p {
      color: white;
    }
  }
}

.carro_preco {
  width: auto !important;
  padding: 5px;

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.servico {
  width: 280px;
  height: 205px;
  border: 2px solid #C9C9C9;

}


.banner_home {
  background: url(../img/Banner\ home.png);
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;


  header {
    width: 100%;


    .site {
      padding: 18px;

      nav {
        display: flex;

        justify-content: space-between;
        align-items: center;

        ul {
          display: flex;
          width: 100%;
          justify-content: space-around;

          li {
            a {
              color: var(--cor-secundaria);
              font-weight: bold;
              font-size: 16px;
            }
          }
        }
      }

    }
  }

  .encontre_carro {

    .site {
      .texto {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 55px;

        h2 {
          color: var(--cor-secundaria);
          font-size: 50px;
          margin-top: 40px;
          margin-bottom: 40px;
          font-weight: bold;

          span {
            color: var(--cor-primaria);
            margin-left: 7px;
          }
        }

        .forms_procurar_carro {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90px;
          width: 65%;
          background-color: white;
          margin-top: 25px;
          border-radius: 15px;
          box-shadow: 0px 7px 4px 0px rgba(164, 164, 164, 0.7);

          form {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            height: 77px;
            align-items: center;

            select {
              border: 1px solid #E1E1E1;
              border-radius: 10px;
              width: 180px;
              height: 50px;
              padding: 7px;
              appearance: none;
              /* remove seta padrão */
              -webkit-appearance: none;
              -moz-appearance: none;
              background-color: white;
              background-image: url('../img/seta_baixo.svg');
              background-repeat: no-repeat;
              background-position: right 12px center;
              /* posição da seta */
              background-size: 14px;
              cursor: pointer;
              font-weight: bold;
            }

            .pesquisar {

              button {
                height: 50px;
                width: 50px;
                border-radius: 12px;
                background-color: var(--cor-primaria);
                cursor: pointer;
                border: none;
              }
            }
          }

        }

        .marcas {
          width: 80%;
          margin-top: 60px;
          display: flex;
          justify-content: space-between;

          .marca {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-color: transparent;
            border: 2px solid #E9BF5B;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

    }
  }
}

.carros_venda_home,
.carros_recentes {
  .carro_destaque {
    height: 500px;
    width: 521px;
    background-color: var(--cor-primaria);
    border-radius: 7px;
    margin-bottom: 54px;

    .conteudo {
      background-color: var(--cor-primaria);
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
    }

  }

  .carro_venda_menores {
    height: 280px;
    width: 252px;
    background-color: var(--cor-primaria);
    border-radius: 7px;


    .conteudo {
      background-color: var(--cor-primaria);
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
    }

    .titulo_principal_carro {
      flex-direction: column;
      margin-top: 7px;

      h2 {
        font-size: 15px;
      }
    }

    .km_rodado {
      justify-content: space-around;
      align-items: center;
      width: 100%;

      >div {

        display: flex;
        align-items: center;

      }

      .carro_preco {
        margin-bottom: 6px;
        height: 30px;
        background-color: #000000;
        border-radius: 2px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        color: white;

        p {
          font-size: 10px;
        }
      }
    }

    .info_complementares {
      font-weight: bolder;

      p {
        font-size: 10px;
        font-weight: bolder;
      }
    }
  }


}


.veiculo_combina {

  background-image: url('../img/foto_fundo_ache_ve.png');
  background-repeat: no-repeat;
  height: 650px;
  background-position: center center;

  .texto {
    padding-top: 65px;

    h2 {
      font-size: 55px;
      color: white;
      text-align: center;
      font-weight: bold;

      span {
        margin-left: 15px;
        font-size: 55px;
        color: var(--cor-primaria);
        font-weight: bold;
      }
    }
  }

  .lado_a_lado {
    margin-top: 70px;
    justify-content: space-evenly;
  }

  .procura_carro,
  .vender_carro {
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 5px;

    .icon_carro {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 35px;

      img {
        width: 70px;
        height: 70px;
      }

      h3 {
        font-family: "Mulish", sans-serif;
        font-size: 24px;
        font-weight: bolder;
      }

      p {
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        line-height: 30px;
        font-size: 20px;
      }

      .inventario_venda {
        a {
          width: 100%;
          height: 45px;
          background-color: #000000;
          border-radius: 2px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 10px;
          color: white;
          font-family: "Mulish", sans-serif;
          font-weight: bolder;
          font-size: 20px;
          letter-spacing: 7px;
        }


      }


    }


  }

  .vender_carro {
    background-color: #E9BF5B;
    color: white !important;

    .icon_carro {
      gap: 31px;
    }

    p {
      font-weight: 500 !important;
    }


  }



}

.servicos {
  .site {
    text-align: center;

    .lado_a_lado_servico {
      display: flex;
      gap: 30px;

      .servico {
        padding: 10px;

        .icone_servio {
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
          }

          h4 {
            font-family: "Mulish", sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
          }


        }

        div {
          p {
            font-family: 'Times New Roman', Times, serif;
            font-weight: lighter;
            color: #8A8A8A;
            font-size: 14px;
            margin-top: 10px;
            line-height: 23px;
          }
        }
      }
    }
  }
}


.carros_recentes {
  .site {

    .lado_a_lado_carros_venda_men {
      justify-content: space-between;

      .carro_venda_menores {


        .entre_em_contato {
          position: relative;
          width: 150px;
          height: 23px;
          border-radius: 2px;
          background-color: var(--cor-primaria);
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 255px;
          left: 90px;

          strong {
            font-size: 12px;
            color: white;
            font-weight: bolder;
          }
        }
      }


    }
  }
}


.sonho_realizado {
  margin-top: 50px;
  width: 100%;

  hr {
    margin-top: 15px;
    height: 5px;
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 2px; 
  }

  .site {
    .lado_a_lado {
      justify-content: space-between;
      align-items: normal;

      .sonho_realizado_info {
        .texto_sonho {
          h2 {
            font-size: 40px;
            font-weight: bolder;
            color: var(--cor-primaria);

            span {
              color: #000000;
              margin-left: 5px;
            }
          }

          hr {
            margin-top: 15px;
            height: 5px;
            background-color: var(--cor-primaria);
            border: none;
            border-radius: 2px;
          }
        }

        .paragrafo {
          p {
            width: 90%;
            margin-top: 30px;
            line-height: 30px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
          }
        }
      }

      .fale_com_vendedor {
        display: flex;
        margin-top: 60px;

        .texto {
          margin-left: 20px;

          h4 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
           
            line-height: 30px;
          }

          span {
            font-weight: normal;
            font-size: 17px;
            font-family: 'Times New Roman', Times, serif;
            line-height: 25px;
          }


        }
      }
    }
  }
}