* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


:root{

}

.banner_home{
  background: url(../img/Banner\ home.png);
  width: 100%;
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
}

